<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com" />
		<add key="Port" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SenderName" value="Łukasz Stasiak" />
		<add key="SenderEmail" value="lukst92reportservice@gmail.com" />
		<add key="SenderEmailPassword" value="encrypt: xxx " />
		<add key="ReceiverEmail" value="lukst92reportservice@gmail.com" />
		<add key="SendHour" value="8" />
		<add key="IntervalInMinutes" value="60" />
		<add key="EnableSendingReports" value="true" />

	</appSettings>
</configuration>